/* Styles required only for the example above */
.scrollspy-example {
  position: relative;
  height: 90vh;
  overflow: auto;
}

::-webkit-scrollbar {
  width: 15px;
  background-color: rgba(0, 0, 0, 0.2);
}
::-webkit-scrollbar-thumb {
  width: 10%;
  background-color: rgb(34 197 94);
  border-radius: 10px;
}
::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0.3);
}

::-webkit-scrollbar:hover {
  background-color: rgba(0, 0, 0, 0.1);
  transition: 2s ease-in;
}
